
body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #777777;
    background: #ffffff
  }
  
  header {
    background: #ffffff;
  }
  
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: left;
  }
  
  h2 {
    font-size: 24px;
  }
  
  a {
    color: #d21034;
  }
  
  .container {
    width: 960px;
    margin: 0 auto;
  }
  
 
  #bio-image {
    float: left;
  }
  
  #main-bio {
    width: 70%;
  }
  
  }
  
  #bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }
  

  html, body {
    height: 100%;
    margin: 0;
  }
  .wrapper {
    min-height: 100%;
 
    margin-bottom: -50px;
  }
  .footer,
  .push {
    height: 50px;
  }